<!-- <app-loginform></app-loginform> -->


 <!-- <h1>Routing</h1>

<div style="text-align: center;">
    <h1>Routing</h1>
</div>

<nav>
<tr>
    <td>
        <a routerLink="/depart">Depatrment</a><br>
    </td>&nbsp;&nbsp;&nbsp;
    <td>
        <a routerLink="/employe">Employe</a>
    </td>
</tr>   
 </nav>
 <router-outlet>


</router-outlet>  -->
  <!-- <app-child [parentName]="name"></app-child> -->
 <!-- <app-child (employeeRecord)="passDataToParentComp($event)"></app-child>
    
        <div *ngFor="let employee of EmployeeList">
            
                 {{employee.name}} : {{employee.rollNo}}
                
                  
            
            </div> -->
    
    <app-viewparentcounter></app-viewparentcounter>
     <app-viewparent-color></app-viewparent-color>
    <app-theme></app-theme>
    <!-- <h4>ng Container</h4>
    <table>
        <tbody>
            <ng-container *ngFor="let book of books">
                <tr *ngIf="book.id>2">
                    <td>{{book.name}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <ng-container *ngIf="display">
        <div *ngFor="let book of books">
            {{book.name}}
        </div>
    </ng-container>
    <ng-container *ngTemplateOutlet="template ; context:obj">

    </ng-container>
    <ng-template #template let-ob="data">
        {{ob}}

    </ng-template>
     <h4> ng template</h4>
    <div *ngIf ="display; else elseblock">
        Div ngIf
    </div>
    <ng-template #elseblock>
        <div>ngIf display with ng template</div>
    </ng-template><br>
    <div *ngFor='let book of books; let i=index;'>
        {{i+1}}. {{book.name}} : {{book.price}}
    </div>-->

    <!-- <app-content>
        <h1>content1</h1>
        <h1 class="cls">content2</h1>
        <p sravanthi>This is paragraph</p>
    </app-content> -->
    <!-- <app-customdirective></app-customdirective> -->